<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uncut History</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <nav class="top-nav">
            <a href="home">Home</a>
            <a href="about">About</a>
            <a href="contact">GF</a>
        </nav>
    </header>
    <main class="content">
        
    <section>
            <h1 class="glow">Uncut History</h1>
    </section>
        <section>
            <h1>Vision</h1>
            <div class="image"> <img src="/images/vision.jpg" alt="Description of the image"> </div>
            <p>Traditional methods of learning history often rely on static, text-based 
                and sometimes even biased content that can be perceived as tedious and unengaging, especially for younger audiences. This lack of engagement can result in a superficial understanding of historical events, figures, and their significance. In an era where interactivity and personalization are key to effective education, there is a need for an innovative solution that makes learning history more dynamic, truthful enjoyable, and impactful.
                </p>
             
        </section>
        <section>
            <h1>Mission</h1>
            <div class="image"><img src="/images/genai.jpg" alt="Description of the image"> </div>
            <p>We propose a Gen AI-powered platform that revolutionizes history education by bringing historical figures to life through interactive, real-time conversations. Users can engage with AI characters who vividly recount events with their personalities, offering a first-person view of history. The platform also includes gamification, personalized learning, and immersive tours of historical sites, making history learning engaging ,true  and deeply interactive.
                 </p>
        </section>
        <section>
             <h1>Impact</h1>
             <div class="image"><img class="image" src="/images/impact.webp" alt="Description of the image"> </div>
             <p>Our solution will help provide unbiased and unfiltered informations  to make history education more engaging and interactive.By bringing historical figures to life through the 3D models with AI-driven conversations, we open a new perspective to interactive learning. This approach will help users connect with historical events on a personal level, improving understanding and retention. The inclusion of gamification, personalized learning will cater to diverse learning styles, making history more accessible. This platform aims to foster a deeper interest and a stronger grasp of historical knowledge.
            </p>
      
    </main>
</body>
</html>
